body{
	background-image:url(images/nice-background-vector-16234713.jpg);		
	background-position:center bottom;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	margin: 0; 
	padding:0;
	font-family:Century;
	
}

.tk { 
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:350px;
	padding:20px;
	background: rgba(0,0,0,.35);
	color:  white;
	border-radius: 12%;
	box-sizing: border-box;
	box-shadow: 10px 20px 34px rgba(0,0,0,.55);
}
.tk input[type="button"]
{
	background:transparent;
	/*color:;*/
	position:relative;
	left:32%;
	border:10px;
	background-color:chartreuse;
	cursor:pointer;
	border-radius:4px;
	width:37%;
}
.tk input[type="email"]
{
	position:relative;
	left:15%;
	width:70%;
	font-family:Arial Rounded MT;
	font-size:15px;
}
.tk input[type="password"]
{
	position:relative;
	left:15%;
	width:70%;
	font-family:Arial Rounded MT;
	font-size:15px;
}

.tk i
{
	font-size:80%;
	position:relative;
	left:45%;
}
.tk input[type="submit"]
{
	background:transparent;
	/*color:;*/
	position:relative;
	left:37%;
	border:10px;
	background-color:chartreuse;
	cursor:pointer;
	border-radius:4px;
	width:25%
}


.t { 
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:400px;
	padding:10px;
	background: rgba(0,0,0,.35);
	color:white;
	border-radius: 12%;
	box-sizing: border-box;
	box-shadow: 10px 15px 25px rgba(0,0,0,.5);
}
.t input[type="text"],input[type="password"],input[type="email"]
{
	position:relative;
        left: 0%;
	width:60%;
	font-weight:bold;
	font-family:Arial Rounded MT;
	font-size:15px;
}
.t button{
	background:transparent;
	/*color:;*/
	position:relative;
	left:37%;
	border:0px;
	background:chartreuse;
	cursor:pointer;
	border-radius:4px;
	width:25%
}
